.text-align-center {
  text-align: center;
}
.text-red {
  color: red;
}
.border-red {
  border: 1px solid red !important;
}
a {
  text-decoration: none;
}
.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.text-align-right {
  text-align: right !important;
}
.bold-text {
  font-family: Roboto-bold;
}